
header {
  background-color: blue;
  padding:30px;
  text-align: center;
}

.info {
  background-color: teal;
  color: white;
  padding: 10px;
  text-align: center;  
}
.transport{
padding: 10px 50px 10px 300px;
}

.explaination{
  background-color: blue;
  color: Grey;
  padding: 30px;
  text-align: center;
}